<!DOCTYPE html>
<head><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script></head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<body onload="startNotes()">
        <div class = 'container'>
            <div class = 'row'>
                <div class ="col-md-9 col-md-offset-4"><h2>Notes</h2></div>
    
            </div>
    
        <div ng-app='notebook' ng-controller='notebookController'>
        
            <form ng-submit='addNote()' class ="col-md-9 col-md-offset-4">
                <textarea ng-model='newNote.text' id='noteArea' ng-blur="onBlur($event)" rows='4' cols=50 placeholder="write something dawg"> </textarea>
    
                </form>
                <div class="col-md-12">
                        <hr class="divider">
                      </div>
                
            <ul>
                <li ng-repeat="note in notes track by $index" class= "col-md-4">{{ note }}</li>
            </ul>
        </div>
    
            <script src="notebook.js"></script> 
        </div>
    </body>
    </html>
</html>